# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Temporary files
*.swp
*.swo
*.swn
*~
*.tmp
*.bak

# Output files
output.json

# Developing files
node_modules
web-ext-artifacts
.amo-upload-uuid


# Environment
.env
.venv
venv/
env/
ENV/
venv.bak/
ENV.bak/

# Config files	
*.md
!READ.md
